.home__image {
    height: 420px;
    background-image: url("../assets/home.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.home__overlay {
    position: absolute;
    inset: 0;
    background: var(--color-overlay);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.home__title {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.home__input {
    width: 360px;
}

.home__latest {
    padding: 48px;
}