.input {
    width: 100%;
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-content);
    color: var(--color-primary);
    font-size: 14px;
}

.input::placeholder {
    color: var(--color-secondary);
}